body{
    margin: 0;
}
.header_image{
   width: 70%;
   height: 100%; 
}
.header_menu{
    display: flex;
    gap: 10px;
    color:black;
    align-items: center;
}
.header_menu_link:hover {color: #bc3e59}
.header_menu a {
    color: black;
}
.header_menu a:hover {color: #bc3e59}
.login{
    border: rgb(235, 108, 129) solid;
    border-radius: 5px;
    align-items: center;
    display: flex;
}
.header_menu a:link { 
    text-decoration: none; 
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 4%;
    padding-top: 1%;
    position: fixed;
    top: 0px;
}
#home_tab{
    font-weight:bolder;
}
.simple_banner{
    display: flex;
    width: 90%;
    height: 10%;
    margin-top: 5%;
    justify-content: center;
}
.simpel_banner_left{
    height: auto;
    width: 60%;
}
.simple_banner_left p{
    color: #777778;
}
.simple_banner_right{
    display: flex;
    width: 40%;
}
.button{
    border: none;
  border-radius: 3px;
  border: #0f0f0f solid;
  padding: 1% 5%;
  font-size: small;
}
.button:hover {background-color: #5368df}
.button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  }
#screen_image{
    width:100%;
}
.whole_body{
    padding: 0% 5% 0% 5%;
}
.features{
    padding: 3% 20% 5% 20%;
    text-align: center;
}
.features h4{
    margin: 0;
}
.features p{
    color: #777778;
}
.group_link{
    text-align: center;
    cursor: pointer;
}
.group_link a {
    color: black;
}
.single_link{
    border-bottom: 2px solid black;
}
.single_link:hover {color: #5368df}
.group_link a:link { 
    text-decoration: none; 
    color:#202425;
}
.bookmark_section{
    padding: 0% 20% 2% 20%;
    text-align: center;
}
body .bookmark_section{
    position: sticky;
    top: 5%;
    background-color: white;
}
.bookmark_section p{
    color: #777778;
}
.bookmark_image{
    width:50%;
    padding-top: 2%;
}
.bookmark_image_section{
    height:10%;
    text-align: center;
    width: 100%;
}
.download_info{
    padding: 0% 20% 5% 20%;
    text-align: center;
}
.download_info p{
    color: #777778;
}
.download_info-heading{
    width: 100%;
}
.extension{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10%;
    justify-content: center;
}
.single_extension{
    width: 15%;
    height: auto;
    border-radius: 5px;
    border: #0f0f0f solid;
    box-shadow:1px 1px 10px #949b9b;
    text-align: center;
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    transition: transform .3s;
}
.single_extension:hover{
    transform: scale(1.3);
}
.extension_image{
    width: 100%;
}
.circular_dot{
    height: 3%;
  width: 3%;
  background-color: #bbb;
  border-radius: 50%;
}
.footer{
    margin-top: 5%;
    width: 100%;
    height:100px;
    background-color: #5368df;
    padding-top: 2%;
}
.footer a{
    color: aliceblue;
}
.icon{ 
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 2%;
}
.footer_link{ 
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}